<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta
         http-equiv="X-UA-Compatible"
         content="IE=edge" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1.0" />
      <link
         rel="stylesheet"
         href="/css/footer.css" />
      <link
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
         rel="stylesheet"
         integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
         crossorigin="anonymous" />
   </head>
   <body>
      <div class="container-fluid footer shadow-none p-3 mb-5 bg-light rounded">
         <div class="row">
            <div
               class="col"
               style="margin-top: 1em !important; margin-bottom: 1em !important">
               <ul class="list-group">
                  <li class="list-group-item">Giới thiệu về công ty</li>
                  <li class="list-group-item">Câu hỏi thường gặp mua hàng</li>
                  <li class="list-group-item">Chính sách bảo mật</li>
                  <li class="list-group-item">Quy chế hoạt động</li>
                  <li class="list-group-item">Kiểm tra hóa đơn điện tử</li>
                  <li class="list-group-item">Tra cứu thông tin bảo hành</li>
               </ul>
            </div>
            <div
               class="col"
               style="margin-top: 1em !important; margin-bottom: 1em !important">
               <ul class="list-group">
                  <li class="list-group-item">Tin tuyển dụng</li>
                  <li class="list-group-item">Tin khuyến mãi</li>
                  <li class="list-group-item">Hướng dẫn mua online</li>
                  <li class="list-group-item">Hướng dẫn mua trả góp</li>
                  <li class="list-group-item">Chính sách trả góp</li>
               </ul>
            </div>
            <div
               class="col"
               style="margin-top: 1em !important; margin-bottom: 1em !important">
               <ul class="list-group">
                  <li class="list-group-item">Hệ thống cửa hàng</li>
                  <li class="list-group-item">Hệ thống bảo hành</li>
                  <li class="list-group-item">Bán hàng doanh nghiệp</li>
                  <li class="list-group-item">Giới thiệu máy đổi trả</li>
                  <li class="list-group-item">Chính sách đổi trả</li>
               </ul>
            </div>
            <div
               class="col"
               style="margin-top: 1em !important; margin-bottom: 1em !important">
               <ul class="list-group">
                  <li class="list-group-item">
                     <p style="color: black; font-weight: 600">Tư vấn mua hàng (Miễn phí)</p>
                     <a
                        href=""
                        style="color: red; font-size: 1.5rem; font-weight: 600"
                        >1800 6601</a
                     >
                     <p style="color: black; font-weight: 600">Hỗ trợ kỹ thuật</p>
                     <a
                        href=""
                        style="color: red; font-size: 1.5rem; font-weight: 600"
                        >1800 6601</a
                     >
                  </li>
                  <li class="list-group-item">
                     <p style="color: black; font-weight: 600">Hỗ trợ thanh toán:</p>
                     <ul class="list-group list-group-horizontal item-bank">
                        <li class="list-group-item">
                           <i
                              class="fa fa-cc-visa"
                              aria-hidden="true"></i>
                        </li>
                        <li class="list-group-item">
                           <i
                              class="fa fa-cc-mastercard"
                              aria-hidden="true"></i>
                        </li>
                        <li class="list-group-item">
                           <i
                              class="fa fa-university"
                              aria-hidden="true"></i>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
            <div
               class="col"
               style="margin-top: 1em !important; margin-bottom: 1em !important">
               <ul class="list-group">
                  <li class="list-group-item">
                     <p style="color: black; font-weight: 600">Góp ý, khiếu nại dịch vụ (8h00-22h00)</p>
                     <a
                        href=""
                        style="color: red; font-size: 1.5rem; font-weight: 600"
                        >1800 6616</a
                     >
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </body>
   <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"></script>
   <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"></script>
</html>
