@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
   --text-color: #212529;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

html,
body {
   display: flex;
   height: 100%;
}

body {
   background: #eee;
   font-family: 'Courier New', Courier, monospace;
   font-size: 14px;
   margin: 0;
   padding: 0;
}
.card {
   border: none !important;
}
.slide-r-parent .row p {
   color: var(--text-color);
   font-size: 14px;
   font-weight: 400;
   cursor: pointer;
   transition: all 0.3s linear;
}

.slide-r-parent .row p:hover {
   color: black;
   border-bottom: 1px solid var(--text-color);
   font-weight: bolder;
}

.see-all-new a:hover {
   border-bottom: #212529 1px solid !important;
}

.animationhover {
   transition: all 0.3s linear;
   cursor: pointer;
}

@keyframes hoverbottom {
   0% {
      width: 0%;
   }

   100% {
      width: 100%;
   }
}
#block-bottom-card {
   display: none !important;
}
.card:hover #block-bottom-card {
   display: flex !important;
   z-index: 999;
   box-shadow: 0 4px 3px -2px #ccc;
}
